#bodyQuestionOne {
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
   font-family: "Poppins";
}

#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.question-container {
    display: flex;
    flex-direction: column;
    width: 61vw;
    padding: 100px;
    align-items: center;
    text-align: center;
}

.question-container p{
    font-size: 20px;
}

.question{
    margin-top: -20px;
}

.choices-um{
    display: flex;
    max-width: 50vw;
    margin-right: 15px;
    flex-direction: row;
    gap: 80px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.choices-dois{
    display: flex;
    max-width: 50vw;
    margin-right: 15px;
    flex-direction: row;
    gap: 80px;
}

/* From Uiverse.io by barisdogansutcu */ 
.choice {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    cursor: pointer;
    background: hsl(0deg 0% 75%);
    box-shadow:
      inset -1px -1px #292929,
      inset 1px 1px #fff,
      inset -2px -2px rgb(158, 158, 158),
      inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 30px;
    height: 120px;
    width: 420px;
  }
  
  .choice:active {
    box-shadow:
      inset -1px -1px #fff,
      inset 1px 1px #292929,
      inset -2px -2px #ffffff,
      inset 2px 2px rgb(158, 158, 158);
  }
  